html, body {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
ol, ul {
    list-style: none;
}
.fixed-center {
	position: fixed !important;
	top: 50%;
	left: 50%;
    transform: translate3d(-50%,-50%,0);
}